:root {
    --green: #40CFBE;
    --blue: #549CDF;
    --black: #35404B;
    --iceblue: #F1F7FC;
    --gray: #A2AFBB;
}

@font-face {
    font-family: 'Onest';
    src: url('../resources/fonts/Onest-Bold.woff2') format('woff2'),
        url('../resources/fonts/Onest-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('../resources/fonts/Onest-SemiBold.woff2') format('woff2'),
        url('../resources/fonts/Onest-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('../resources/fonts/Onest-Medium.woff2') format('woff2'),
        url('../resources/fonts/Onest-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('../resources/fonts/Onest-Regular.woff2') format('woff2'),
        url('../resources/fonts/Onest-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page {
    height: 100%;
    font-family: 'Onest', Inter, sans-serif;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

@media (min-width:320px) {
    .page {
        font-size: calc(100vw / 320 * 10);
        overflow-x: hidden;
    }
}

@media (min-width:640px) {
    .page {
        overflow-x: visible;
        font-size: calc(100vw / 1400 * 10);
    }
}

.page__body {
    margin: 0;
    min-width: 32rem;
    min-height: 100%;
    font-size: 1.6rem;
    background-color: #FBFBFB;
    color: var(--black);
    line-height: 1.6;
    font-weight: 400;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

@media (max-width: 640px) {
    .page__body {
        font-size: 1.2rem;
        overflow-x: hidden;
    }
}

main {
    position: relative;
    z-index: 2;
    width: 100%;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

img {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button {
    -webkit-transition: color .2s, background-color .2s, background .2s, opacity .2s, -webkit-transform .2s;
    transition: color .2s, background-color .2s, background .2s, opacity .2s, transform .2s, -webkit-transform .2s;
    -o-transition: color .2s, background-color .2s, background .2s, opacity .2s, transform .2s;
    cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

dl,
dt,
dd {
    margin: 0;
}

ul {
    padding-left: 1rem;
    margin: 0;
    list-style-type: none;
}

ul li {
    display: flex;
    align-items: start;
}

ul li::before {
    content: '';
    flex-shrink: 0;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    display: block;
    background-color: var(--black);
    margin-right: .7rem;
    margin-top: 1rem;
}

li:not(:last-child) {
    margin-bottom: 1.5rem;
}

@media (max-width: 640px) {
    ul li::before {
        margin-right: .7rem;
        margin-top: .7rem;
    }

    li:not(:last-child) {
        margin-bottom: 1.1rem;
    }
}

.is-hidden {
    display: none !important
}

.btn-reset {
    border: none;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all .2s linear;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0
}

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
}

.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
    display: none
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0)
}

.container {
    width: 116rem;
    max-width: 100%;
    margin: 0 auto;
}


@media (max-width:640px) {
    .container {
        width: 30rem;
    }
}

.main-btn {
    font-family: 'Onest';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    background: linear-gradient(90deg, var(--blue) 0%, var(--green) 100%);
    text-align: center;
    transition: all 0.2s;
    display: block;
    width: fit-content;
    border-radius: 6rem;
    position: relative;
    z-index: 1;
    padding: 1.5rem 3.5rem;
    border: 1px solid transparent;
}


@media (hover:hover) {
    .main-btn:hover {
        background: #fff;
        color: var(--blue);
        border: 1px solid var(--blue);
    }
}

@media (hover:none) {
    .main-btn:active {
        background-color: #fff;
        color: var(--blue);
        border: 1px solid var(--blue);
    }
}

@media (max-width: 640px) {
    .main-btn {
        font-size: 1.6rem;
        padding: 1.1rem 2.6rem;
        text-align: center;
    }
}

.white-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue);
    padding: 1.5rem 3.5rem;
    background-color: transparent;
    border-radius: 6rem;
    border: 1px solid var(--blue);
    font-size: 1.6rem;
    height: 1;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    transition: all .2s linear;
}

.white-btn svg {
    width: 2.4rem;
    height: 2.4rem;
}

@media (hover:hover) {
    .white-btn:hover {
        color: #fff;
        background-color: var(--blue);
    }
}

.title {
    font-family: 'Onest';
    font-weight: 400;
    font-size: 4.2rem;
    line-height: 1.3;
    color: var(--black);
    margin-bottom: 1rem;
}

.title.main-title {
    font-size: 4.8rem;
}

@media (max-width: 640px) {
    .title {
        font-size: 2.8rem;
        line-height: 1.2;
    }

    .title.main-title {
        font-size: 3.2rem;
    }
}

.form__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem 2.5rem;
}

.form__subtitle {
    color: var(--black);
    font-family: 'Onest';
    text-align: left;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 3.6rem;
    letter-spacing: -0.02em;
}

.form__subtitle,
.form__text {
    max-width: 47.4rem;
}

.form__label {
    color: #323232;
    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
    font-family: 'Onest';
    font-weight: 400;
}

.form__input {
    font-family: 'Onest';
    font-size: 1.3rem;
    line-height: 1.3;
    color: var(--black);
    background: transparent;
    font-weight: 500;
    padding: 1.9rem 1.8rem;
    border: 1px solid rgba(41, 49, 65, 0.2);
    width: 100%;
    outline: none;
    margin-bottom: 0;
    border-radius: .7rem;
    margin-top: 1.2rem;
}

.form__input::placeholder {
    color: #293141;
    opacity: 30%;
}

.form__submit p {
    font-size: 1.1rem;
    line-height: 1.3;
    text-wrap: balance;
    margin-top: 1.5rem;
    letter-spacing: -0.02em;
}

.animated {
    visibility: hidden;
    opacity: 0;

}

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #323232;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    transition: all .2s linear;
    margin-bottom: 0.2rem;
}

@media (max-width: 640px) {
    .custom-checkbox>span::before {
        width: 1rem;
        height: 1rem;
        margin-right: .4rem;
    }
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: var(--blue);
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
    border-color: var(--blue);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: var(--blue);
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6741 5.89355L8.01619 15.7883L4.30566 12.0778' stroke='rgb(50, 50, 50)' stroke-width='1.94595' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}

.form__btn {

    width: 100%;
    font-size: 1.5rem;
    border-radius: 5.2rem;
    padding: 2rem 5.7rem;
    letter-spacing: normal;
    margin-top: 3.6rem;
    margin-bottom: 1.5rem;
}

.acceptance__text {
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 400;

    color: #323232;

}

@media (max-width: 640px) {
    .form__subtitle {
        font-size: 2rem;
        line-height: 1.18;
        padding-bottom: 0;
        margin-bottom: 3.9rem;
    }


    .form__subtitle,
    .form__text {
        max-width: 100%;
    }

    .form__label {
        font-size: 1.1rem;
        line-height: 1.3;
    }

    .form__input {
        font-size: 1.2rem;
        line-height: 1.3;
        padding: 1.8rem;
        margin-bottom: 0;
        border-radius: 0.7rem;
        margin-top: 1.1rem;
    }

    .form__submit p {
        font-size: 1rem;
        margin-top: 2.6rem;
    }

    .custom-checkbox>span::before {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 1rem;
    }

    .form__btn {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .acceptance__text {
        font-size: 1rem;
        line-height: 1.3;
    }

    .form__box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.7rem;
    }
}

.modal {
    position: fixed;
    z-index: 999;
    inset: 0;
    bottom: initial;
    background: #DFDFDF4D;
    backdrop-filter: blur(30px);
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s, visibility .2s;
    transition: opacity .2s, visibility .2s;
    overflow-y: scroll
}

.modal--active {
    opacity: 1;
    visibility: visible
}

.modal__inner {
    position: relative;
    max-width: 72rem;
    width: fit-content
}

.modal__content {
    border-radius: 1rem;
    padding: 2.8rem 4.6rem 3.3rem 3.7rem;
    background-color: #fff;
    width: 100%;
}

.modal__content::-webkit-scrollbar {
    width: 0;
    height: 0
}

.modal__close {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 1rem;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    right: 1rem;
    color: #000;
}

.modal__close svg {
    width: 1.2rem;
    height: 1.2rem
}

@media (max-width: 640px) {
    .modal__inner {
        max-width: 28.6rem;
    }

    .modal__content {
        padding: 3.9rem 2.5rem;
    }
}


/* Header */
.header {
    background-color: #fff;
}

.header__inner {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1.8rem 0 1.9rem;
}

.header__logo {
    width: 12.8rem;
    /* height: 2.6rem; */
    margin-right: 3.2rem;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    margin-right: auto;
}

.header__nav__item {
    position: relative;
}

.header__link,
.header__dropdown__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--black);
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 400;
}

.header__link svg {
    width: 1.4rem;
    height: 1.4rem;
}

.header__dropdown {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background-color: var(--iceblue);
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    position: absolute;
    left: 0;
    min-width: 20rem;
}

@media (hover:hover) {

    .header__link:hover,
    .header__dropdown__link:hover {
        color: var(--blue);
    }

    .header__link:hover~.header__dropdown,
    .header__dropdown:hover {
        z-index: 99;
        visibility: visible;
        opacity: 1;
    }
}

.header__search {
    position: relative;
}

.search__input {
    padding: 1rem 3rem 1rem 1rem;
    background-color: var(--iceblue);
    border-radius: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 400;
    color: var(--black);
    font-family: 'Onest';
}

.search__input::placeholder {
    color: var(--gray);
}

.search__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.2rem;
    margin: auto 0;
    color: var(--gray);
}

.search__btn svg {
    width: 1.4rem;
    height: 1.4rem;
}

.search__input:focus {
    outline: 1px solid var(--blue);
}

.header__burger__menu,
.header__burger {
    display: none;
}

@media (max-width: 640px) {

    .header__inner {
        padding: 2.1rem 0 2.3rem;
    }

    .header__nav,
    .header__search {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .header__burger svg {
        width: 3.2rem;
        height: 3.2rem;
    }

    .header__burger__menu {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background: #35404BE5;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all .2s linear;
    }

    .header__burger__menu.active {
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }

    .header__burger__menu__inner {
        width: 25rem;
        background-color: #FBFBFB;
        padding: 2.5rem 2rem;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 2.7rem;
    }

    .header__logo {
        margin-right: 0;
    }

    .header__burger__menu .header__nav {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        margin-right: 0;
    }

    .header__nav__item {
        position: relative;
    }


    .header__dropdown {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        background-color: var(--iceblue);
        padding: 1.5rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        position: absolute;
        left: 0;
        min-width: 20rem;
    }

    .header__dropdown.active {
        opacity: 1;
        visibility: visible;
        z-index: 9999;
    }

    .header__burger__menu .header__search {
        display: block;
        position: relative;
        margin-top: auto;
    }

    .search__input {
        padding: 1rem 3rem 1rem 1rem;
        background-color: var(--iceblue);
        border-radius: 1.2rem;
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: 400;
        color: var(--black);
        font-family: 'Onest';
    }

    .search__input::placeholder {
        color: var(--gray);
    }

    .search__btn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1.2rem;
        margin: auto 0;
        color: var(--gray);
    }

    .search__btn svg {
        width: 1.4rem;
        height: 1.4rem;
    }

    .header__burger__menu__top {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .header__burger__close {
        flex-shrink: 0;
    }

    .header__burger__menu__top svg {
        width: 3.2rem;
        height: 3.2rem;
    }
}

/* Banner  */
.banner {
    background-image: url('../img/base/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 2rem;
    border-radius: 1.6rem;
}

.banner__inner {
    display: flex;
    align-items: center;
    gap: 6rem;
}

.banner__content {
    width: 56rem;
    flex-shrink: 0;
}

.banner__img {
    width: 47.2rem;
    flex-shrink: 0;
}

.banner .main-title {
    text-wrap: balance;
    margin-bottom: 2.3rem;
}

.banner__text {
    margin-bottom: 3.8rem;
}

@media (max-width: 640px) {
    .banner {
        background-image: url('../img/base/bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
    }

    .banner__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .banner__content {
        width: 100%;
        flex-shrink: 0;
        padding: 4rem 3.1rem 0 3.1rem;
    }

    .banner__img {
        width: 30rem;
        flex-shrink: 0;
        margin: 0 auto;
    }

    .banner.main-title {
        text-wrap: balance;
        margin-bottom: 2.3rem;
    }

    .banner__text {
        margin-bottom: 3.8rem;
    }

    .banner__btn {
        width: 100%;

    }
}

/* Products */
.products {
    padding: 10rem 0 4.4rem;
}

.subtitle {
    display: flex;
    align-items: start;
    gap: .8rem;
    color: var(--gray);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.subtitle::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url(../img/base/check.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.products__text {
    max-width: 56rem;
    margin-bottom: 2rem;
}

.products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.products__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 4rem 3.6rem 4rem;
    position: relative;
}

.products__item::after {
    content: '';
    width: 100%;
    display: block;
    background-color: #fff;
    border-radius: 1.2rem;
    height: 20rem;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.products__icon {
    width: 10rem;
    height: 10rem;
    margin-bottom: 2.5rem;
    border-radius: 50%;
    background-color: var(--iceblue);
    position: relative;
}

.products__icon img {
    width: 4.2rem;
    height: 4.2rem;
    inset: 0;
    margin: auto;
    position: absolute;
}

.products__name {
    font-size: 2.4rem;
    line-height: 1.2;
    color: var(--black);
    margin-bottom: 1.5rem;
    font-weight: 500;
}

@media (max-width: 640px) {
    .products {
        padding: 3rem 0 4rem;
    }

    .subtitle {
        font-size: 1.4rem;
    }

    .products__text {
        max-width: 100%;
    }

    .products__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

}

/* About */
.about {
    padding: 4.4rem 0 5rem;
}

.about__inner {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.about__text {
    font-size: 1.8rem;
}

.about__img {
    width: 56rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    overflow: hidden;
}

@media (max-width: 640px) {
    .about {
        padding: 4rem 0 3rem;
    }

    .about__inner {
        align-items: start;
        flex-direction: column;
        gap: 2rem;
    }

    .about__text {
        font-size: 1.2rem;
    }

    .about__img {
        width: 100%;
        height: 16rem;
    }
}

/* Resources */
.resources {
    padding: 5rem 0;
}

.resources-swiper {
    position: relative;
}

.resources__text {
    margin-bottom: 3rem;
}

.resources__btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: -7rem;
    right: 0;
}

.resources__btn {
    position: static;
    width: 4rem;
    height: 4rem;
    background-color: var(--blue);
    color: #fff;
    border-radius: 50%;
    border: 1px solid var(--blue);
    transition: all .2s linear;
}

@media (hover:hover) {
    .resources__btn:hover {
        background-color: #fff;
        color: var(--blue);
    }
}

@media (hover:none) {
    .resources__btn:active {
        background-color: #fff;
        color: var(--blue);
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1.6rem;
}

.resources-wrapper {
    align-items: stretch;
    height: max-content;
}

.resources-slide {
    height: auto;
}

.resources__article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.resources__img {
    height: 20rem;
    border-radius: 1.2rem 1.2rem 0 0;
}

.resources__content {
    background-color: #fff;
    border-radius: 0 0 1.2rem 1.2rem;
    padding: 3rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

.resources__name {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 3rem;
}

@media (max-width: 640px) {
    .resources {
        padding: 3rem 0 4rem;
    }


    .resources__text {
        margin-bottom: 7rem;
    }

    .resources__btns {
        top: -4rem;
        right: auto;
        left: 0;
        height: 4rem;
    }

    .resources__img {
        height: 16rem;
    }

    .resources__name {
        font-size: 1.8rem;
    }
}

/* programs  */
.programs {
    padding: 5rem 0 4rem;
}

.programs__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 1rem;
}

.programs__item {
    background-color: var(--iceblue);
    border-radius: 1.2rem;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.programs__link {
    display: block;
    position: absolute;
    inset: 0;
    margin: 0;
    z-index: 3;
    border-radius: 1.2rem;
    background: transparent;
    transition: all .2s linear;
}

.programs__icon {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 2rem;
}

.programs__name {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 1rem;
    text-wrap: balance;
}

.programs__btn {
    border: none;
    margin-top: auto;
    text-decoration: underline;
    text-underline-offset: 2px;
    padding: 1.5rem 0 0 0;
}

@media (hover:hover) {
    .programs__link:hover {
        background: #fff;
        opacity: .2;
    }
}

@media (max-width: 640px) {
    .programs {
        padding: 4rem 0 2rem;
    }

    .programs__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-top: 0;
    }

    .programs__name {
        font-size: 1.8rem;
    }

    .programs__btn {
        padding: 1.5rem 0 0 0;
    }
}

/* Footer  */
.footer {
    margin: 0 2rem 4.6rem 2rem;
    background-color: var(--black);
    border-radius: 1.2rem;
    padding: 4.4rem 0;
}

.footer__top {
    display: flex;
    align-items: start;
    gap: 3.8rem;
    margin-bottom: 6rem;
}

.footer__nav .header__link {
    color: #fff;
}

@media (hover:hover) {
    .footer__nav .header__link:hover {
        color: var(--blue);
    }
}

.footer__contacts {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    line-height: 1.6;
    text-align: right;
    font-weight: 500;
}

.footer__tel {
    font-size: 1.4rem;


}

.footer__email {
    color: var(--gray);
    font-size: 1.2rem;

}

.footer__contacts a {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.footer__contacts a::before {
    content: '';
    width: 2rem;
    height: 2rem;
    display: block;
    background-image: url(../img/base/phone.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__contacts .footer__email::before {
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(../img/base/email.svg);
}

@media (hover:hover) {
    .footer__contacts a:hover {
        color: var(--blue);
    }
}

@media (hover:none) {
    .footer__contacts a:active {
        color: var(--blue);
    }
}

.footer__bottom {
    display: flex;
    align-items: center;
    color: var(--gray);
    font-size: 1.4rem;
}

.footer__link {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.footer__link:not(:last-child) {
    margin-right: 2rem;
}

@media (hover:hover) {
    .footer__link:hover {
        color: var(--blue);
    }
}

@media (hover:none) {
    .footer__link:active {
        color: var(--blue);
    }
}

.footer__copyright {
    margin-left: auto;
}

@media (max-width: 640px) {
    .footer {
        margin: 0 0 2.1rem 0;
        padding: 3rem;
    }

    .footer__top {
        flex-direction: column;
        gap: 2.2rem;
        margin-bottom: 3rem;
    }

    .footer__nav {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: start;
    }


    .footer__contacts {
        align-items: start;
        text-align: left;
    }


    .footer__contacts a {
        justify-content: start;
    }


    .footer__bottom {
        flex-wrap: wrap;
        font-size: 1.42rem;
    }

    .footer__link:not(:last-child) {
        margin-right: 2rem;
    }

    .footer__copyright {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.2rem;
    }
}

/* Products */

.section__header {
    padding-top: 4rem;
    padding-bottom: 3.9rem;
    border-bottom: 1px solid #A2AFBB80;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.section__title {
    max-width: 56rem;
    text-wrap: balance;
    font-size: 4.8rem;
}

.section__subtitle {
    width: 40rem;
    flex-shrink: 0;
    align-items: start;
    margin-top: 2rem;
    line-height: 1.2;
}

.section__subtitle::before {
    flex-shrink: 0;
}

@media (max-width: 640px) {
    .section__header {
        padding-top: 3rem;
        padding-bottom: 2.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
        gap: 2rem;
    }

    .section__title {
        max-width: 100%;
        text-wrap: balance;
        font-size: 3.2rem;
    }

    .section__subtitle {
        width: 100%;
        margin-top: 0;
        font-size: 1.1rem;
    }
}

/* Discounts  */
.discounts {
    display: flex;
    align-items: center;
    padding: 3rem 0 7rem;
    gap: 4rem;
}

.discounts__img {
    width: 53.5rem;
    border-radius: 1.2rem;
    overflow: hidden;
    flex-shrink: 0;
}

.discounts__img img {
    object-fit: cover;
    min-width: 100%;
}

.discounts__title {
    margin-bottom: 3.8rem;
}

.discounts__text {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 5rem;
}

.discounts__text ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .7rem 2rem;
}

.discounts__text li {
    display: flex;
    align-items: center;
}

.discounts__text li::before {
    content: '';
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    display: block;
    background-color: var(--black);
    margin-right: .7rem;
}

.discounts .subtitle {
    text-wrap: balance;
    margin-bottom: 5rem;
}

@media (max-width: 640px) {
    .discounts {
        flex-direction: column;
        align-items: start;
        padding: 2rem 0 2.7rem;
        gap: 2.6rem;
    }

    .discounts__img {
        width: 100%;
    }

    .discounts__title {
        margin-bottom: 2rem;
    }

    .discounts__text {
        font-size: 1.2rem;
        margin-bottom: 2.3rem;
    }

    .discounts__text ul {
        grid-template-columns: repeat(1, 1fr);
        gap: .4rem;
    }

    .discounts .subtitle {
        text-wrap: balance;
        margin-bottom: 2.8rem;
    }

    .discounts__btn {
        min-width: 20.6rem;
    }
}

/* Options  */
.options {
    padding: 7rem 0 4rem;
}

.options .subtitle {
    max-width: 40.2rem;
    text-wrap: balance;
    margin-bottom: 2.7rem;
}

.options .subtitle::before {
    flex-shrink: 0;
    background-image: url(../img/base/check-blue.svg);
}

.options .title {
    margin-bottom: 5rem;
}

.options__list {
    display: flex;
    align-items: stretch;
    gap: 4rem;
    flex-wrap: wrap;
}

.options__item {
    background-color: var(--iceblue);
    border-radius: 1.2rem;
    padding: 3.8rem 3.9rem 4.2rem 3.5rem;
    text-wrap: balance;
}

.options__item h3 {
    min-height: 4.6rem;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 2.7rem;
    max-width: 40rem;
    color: var(--black);
}

.options__item div {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 400;

}

.options__item div {
    display: flex;
    align-items: start;
    gap: 1.6rem;
}

.options__item div span {
    opacity: 0.7;
}

.w-30 {
    width: 31%;
}

.w-50 {
    width: 48%;
}

.w-60 {
    width: 65%;
}

@media (max-width: 640px) {
    .options {
        padding: 2.7rem 0 4.3rem;
    }

    .options .subtitle {
        max-width: 100%;
        margin-bottom: 1.7rem;
    }

    .options .title {
        margin-bottom: 2.5rem;
    }

    .options__list {
        gap: 1rem;
    }

    .options__item {
        padding: 3.1rem 2.9rem 3.2rem 3.1rem;
    }

    .options__item h3 {
        min-height: 3.8rem;
        font-size: 1.5rem;
        margin-bottom: 2.2rem;
        max-width: 100%;
    }

    .options__item div {
        font-size: 1.3rem;
    }

    .options__item div {
        flex-direction: column;
        gap: 2.2rem;
    }

    .w-30 {
        width: 100%;
    }

    .w-50 {
        width: 100%;
    }

    .w-60 {
        width: 100%;
    }
}

/* Benefits */
.benefits {
    padding: 5rem 0 11.2rem;
    display: flex;
    align-items: start;
    gap: 3.6rem;
}

.benefits__img {
    border-radius: 1.2rem;
    overflow: hidden;
    width: 52.5rem;
    flex-shrink: 0;
}

.benefits__img img {
    width: 100%;
}

.benefits__content {
    padding-top: 1.9rem;
}

.benefits__title {
    margin-bottom: 1.5rem;
}

.benefits__subtitle {
    margin-bottom: 2.9rem;
}

.benefits__content {
    font-size: 1.8rem;
}

.benefits__content li:not(:last-child) {
    margin-bottom: 1.5rem;
}

@media (max-width: 640px) {
    .benefits {
        padding: 3.7rem 0 7.2rem;
        flex-direction: column-reverse;
        gap: 3.2rem;
    }

    .benefits__img {
        width: 100%;
        max-height: 19.5rem;
    }

    .benefits__content {
        padding-top: 0;
    }

    .benefits__title {
        margin-bottom: 2rem;
    }

    .benefits__content {
        font-size: 1.2rem;
    }
}

/* Group  */
.group {
    padding: 5.8rem 0 10.9rem;
    display: flex;
    align-items: start;
    gap: 1.7rem;
}

.group__img {
    width: 56rem;
    flex-shrink: 0;
}

.group__img img {
    width: 100%;
}

.group__content {
    padding-top: 3.5rem;
}

.group__text {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    font-size: 1.8rem;
    text-wrap: balance;
}

.discounts.reverse {
    flex-direction: row-reverse;
    align-items: start;
}

.discounts.reverse .discounts__content {
    padding-top: 3.5rem;
}

@media (max-width: 640px) {
    .group {
        padding: 2.5rem 0 5rem;
        flex-direction: column;
        gap: 2.6rem;
    }

    .group__img {
        width: 100%;
    }

    .group__content {
        padding-top: 3.5rem;
    }

    .group__content button {
        padding: 1.5rem 6.2rem;
    }

    .group__text {
        margin-top: 1.5rem;
        margin-bottom: 3.2rem;
        font-size: 1.2rem;
    }

    .discounts.reverse {
        flex-direction: column;
        align-items: start;
    }

    .discounts.reverse .discounts__content {
        padding-top: 0;
    }
}

/* Healthcare  */
.healthcare {
    display: flex;
    align-items: start;
    gap: 4.3rem;
    padding: 5.8rem 0 5rem;
}

.healthcare__img {
    width: 56rem;
    flex-shrink: 0;
}

.healthcare__img img {
    width: 100%;
}

.healthcare__content {
    padding-top: 2.2rem;
}

.healhcare__title {
    margin-bottom: 2.5rem;
    font-size: 4rem;
}

.healthcare__text {
    font-size: 1.8rem;
}

.healthcare__text p:not(:last-child) {
    margin-bottom: 2.4rem;
}

.healthcare__text strong {
    font-weight: 500;
}

.healthcare__text ul li {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 1.2;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #35404BB2;
}

.healthcare__text ul li:not(:last-child) {
    margin-bottom: 1.7rem;
}

.healthcare__text ul li::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url(../img/base/check.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: transparent;
    margin-top: 0;
}

@media (max-width: 640px) {
    .healthcare {
        flex-direction: column-reverse;
        gap: 3.2rem;
        padding: 3.2rem 0 3rem;
    }

    .healthcare__img {
        width: 100%;
        height: 20rem;
        overflow: hidden;
    }

    .healthcare__content {
        padding-top: 0;
    }

    .healhcare__title {
        margin-bottom: 2.5rem;
        font-size: 2.8rem;
    }

    .healthcare__text {
        font-size: 1.2rem;
    }

    .healthcare__text p:not(:last-child) {
        margin-bottom: 1.8rem;
    }

    .healthcare__text ul li {
        font-size: 1.2rem;
    }

    .healthcare__text ul li:not(:last-child) {
        margin-bottom: 1.1rem;
    }

    .healthcare__text ul li::before {
        width: 1.1rem;
        height: 1.1rem;
    }
}

/* Offerings  */
.offerings {
    padding: 5rem 0 5rem;
}

.offerings__title {
    margin-bottom: 4.5rem;
}

.offerings__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem;
}

.offerings__item {
    border-radius: 1.2rem;
    background-color: var(--iceblue);
}

.offerings__sutitle {
    padding: 2.7rem 4rem 2.7rem 5.3rem;
    background-color: #fff;
    border-radius: 1.2rem;
    font-size: 2.6rem;
    line-height: 1.2;
    font-weight: 500;
}

.offerings__list ul {
    padding: 3.5rem 3rem 4.5rem 3rem;
    text-wrap: balance;
}

@media (max-width: 640px) {
    .offerings {
        padding: 2rem 0 2rem;
    }

    .offerings__title {
        margin-bottom: 2.5rem;
    }

    .offerings__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.2rem;
    }

    .offerings__item {
        border-radius: 1rem;
    }

    .offerings__sutitle {
        padding: 2.1rem 3.1rem;
        font-size: 2rem;
    }

    .offerings__list ul {
        padding: 2.8rem 2rem 2.5rem 2rem;
    }
}

/* Reporting  */
.repotring {
    padding: 5.8rem 0 5.4rem;
    display: flex;
    align-items: center;
    gap: 4.3rem;
}

.reporting__img {
    overflow: hidden;
    width: 56rem;
    flex-shrink: 0;
}

.reporting img {
    min-width: 100%;
}

.reporting__text {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.reporting__subtitle {
    font-size: 3.2rem;
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: .4rem;
}

.reporting__block:not(:last-child) {
    margin-bottom: 4.5rem;
}

.reporting__block__title {
    font-size: 2.4rem;
    line-height: 1.6;
    margin-bottom: 2.7rem;
    font-weight: 400;
    color: #737E88;
}

.reporting__box {
    padding: 3rem;
    background-color: #fff;
    border-radius: 1.2rem;
    font-size: 1.8rem;
}

.reporting__btn {
    margin-top: 2.6rem;
}

@media (max-width: 640px) {
    .repotring {
        padding: 2.6rem 0 4.4rem;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 3.6rem;
    }

    .reporting__img {
        width: 100%;
        height: 26.8rem;
        border-radius: 1.2rem;
    }

    .reporting img {
        min-width: 100%;
    }

    .reporting__text {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .reporting__subtitle {
        font-size: 1.7rem;
        margin-bottom: .2rem;
    }

    .reporting__block:not(:last-child) {
        margin-bottom: 3.5rem;
    }

    .reporting__block__title {
        font-size: 1.3rem;
        margin-bottom: 2.6rem;
    }

    .reporting__box {
        width: 100%;
        padding: 2.5rem;
        font-size: 1.3rem;
    }

    .reporting__btn {
        margin-top: 1.8rem;
        font-size: 1.2rem;
    }
}

/* Coniderations  */

.cons {
    padding: 5.4rem 0 8.1rem;
}

.cons-swiper {
    position: relative;
}

.cons__description {
    max-width: 75.3rem;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.cons__block {
    background-color: var(--iceblue);
    padding: 3.6rem 3rem 5.2rem 3rem;
    border-radius: 1.2rem;
}

.cons__block__title {
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 2.3rem;
    color: #405A70;
}

.cons__text {
    font-size: 1.8rem;
    line-height: 1.2;
    color: #35404BCC;
}

.cons__text>*:not(:last-child) {
    margin-bottom: 3.5rem;
}

.cons__text ul {
    color: var(--black);
}

@media (max-width: 640px) {
    .cons {
        padding: 2.2rem 0 3.8rem;
    }

    .cons__description {
        max-width: 100%;
        font-size: 1.2rem;
        margin-bottom: 9.7rem;
    }

    .cons__block {
        padding: 2.6rem 2rem 4rem 2.6rem;
        border-radius: 1.2rem;
    }

    .cons__block__title {
        font-size: 1.7rem;
        margin-bottom: 1.8rem;
    }

    .cons__text {
        font-size: 1.3rem;
    }

    .cons__text>*:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}

/* Risk  */
.risk {
    display: flex;
    align-items: start;
    gap: 4rem;
    padding: 5.1rem 0 2.3rem;
}

.risk__content {
    padding-top: 2.5rem;
}

.risk__img {
    width: 56rem;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 1.2rem;
}

.risk__img img {
    width: 100%;
}

.risk__text {
    font-size: 2.4rem;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 3rem;
}

.risk__small>*:not(:last-child),
.risk__text>*:not(:last-child) {
    margin-bottom: 3rem;
}

.risk__small {
    font-size: 1.8rem;
    line-height: 1.6;
}

.risk__small ul {
    font-size: 1.6rem;
}

@media (max-width: 640px) {
    .risk {
        flex-direction: column;
        gap: 3rem;
        padding: 2.5rem 0 2.4rem;
    }

    .risk__content {
        padding-top: 0;
    }

    .risk__img {
        width: 100%;
        height: 19rem;
    }

    .risk__img img {
        height: 100%;
    }

    .risk__text {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .risk__small>*:not(:last-child),
    .risk__text>*:not(:last-child) {
        margin-bottom: 2rem;
    }

    .risk__small {
        font-size: 1.3rem;
    }

    .risk__small ul {
        font-size: 1.2rem;
    }

    .risk__header {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Support  */
.support {
    margin-top: 2.3rem;
    margin-bottom: 7.1rem;
    font-size: 1.8rem;
    border-radius: 1.2rem;
    background-color: #fff;
    padding: 3.6rem 5rem 4.7rem 5.6rem;
}

.support__title {
    margin-bottom: 1.7rem
}

.support__block {
    display: flex;
    align-items: flex-end;
    gap: 7.2rem;
    justify-content: space-between;
    text-wrap: balance;
}

.support__btn {
    flex-shrink: 0;
}

@media (max-width: 640px) {
    .support {
        margin-top: 2.4rem;
        margin-bottom: 3.3rem;
        font-size: 1.2rem;
        padding: 3.3rem 3rem;
    }

    .support__title {
        margin-bottom: 2.3rem
    }

    .support__block {
        flex-direction: column;
        align-items: flex-start;
        gap: 3.3rem;
    }

    .support__btn {
        margin: 0 auto;
        padding: 1.5rem 5.7rem;
        font-size: 1.6rem;
    }
}

/* Edu  */
.edu {
    display: flex;
    align-items: start;
    padding: 5rem 0 3rem;
    gap: 2rem;
}

.edu__img {
    width: 56rem;
    overflow: hidden;
    border-radius: 1.2rem;
    flex-shrink: 0;
}

.edu__img img {
    width: 100%;
}

.edu__content {
    padding-top: 2.5rem;
}

.edu__title {
    margin-bottom: 3rem;
}

.edu__text {
    font-size: 1.8rem;
    color: #35404BCC;
}

.edu__text strong {
    color: #35404B;
    font-size: 1.8rem;
}

.edu__text>*:not(:last-child) {
    margin-bottom: 3rem;
}

@media (max-width: 640px) {
    .edu {
        flex-direction: column;
        padding: 3.1rem 0 3.8rem;
        gap: 3.8rem;
    }

    .edu__img {
        width: 100%;
        height: 21.5rem;
    }

    .edu__img img {
        width: 100%;
        height: 100%;
    }

    .edu__content {
        padding-top: 0;
    }

    .edu__title {
        margin-bottom: 2rem;
    }

    .edu__text {
        font-size: 1.2rem;
    }

    .edu__text strong {
        font-size: 1.3rem;
    }

    .edu__text>*:not(:last-child) {
        margin-bottom: 2rem;
    }

    .edu__btn {
        padding: 1.5rem 5.7rem;
        font-size: 1.6rem;
        margin: 0 auto;
    }
}

/* Awards  */
.awards {
    padding: 3.6rem 5.6rem 5.6rem;
    margin-top: 3.5rem;
}

.awards__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 7rem;
}

@media (max-width: 640px) {
    .awards {
        padding: 3.3rem 2.3rem 4.7rem;
        margin-top: 0;
    }

    .awards__header {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.6rem;
        margin-bottom: 3.6rem;
    }
}

/* Company  */
.about .subtitle {
    width: 100%;
    margin-top: 0;
}

.subtitle__blue::before {
    background-image: url(../img/base/check-blue.svg);
}

.goal {
    display: flex;
    align-items: start;
    padding: 4.7rem 0 5.7rem;
    gap: 4.3rem;
}

.img {
    width: 56rem;
    border-radius: 1.2rem;
    overflow: hidden;
    flex-shrink: 0;
}

.img img {
    min-width: 100%;
    min-height: 100%;
}

.goal__content {
    padding-top: 2.6rem;
}

.goal__text {
    font-size: 1.8rem;
}

.goal__text ul {
    font-size: 1.6rem;
}

.goal__text>*:not(:last-child) {
    margin-bottom: 2.7rem;
}

.goal__text li:not(:last-child) {
    margin-bottom: 0;
}

.commitment {
    padding: 4.5rem 5.6rem;
    border-radius: 1.2rem;
    background-color: #fff;
}

.text {
    font-size: 1.8rem;
}

.text>*:not(:last-child) {
    margin-bottom: 2.5rem;
}

.readmore {
    padding: 1.7rem 0;
    color: var(--blue);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 30rem;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: opacity .2s linear;
}

@media (hover:hover) {
    .readmore:hover {
        opacity: 0.6;
    }
}

@media (hover:none) {
    .readmore:active {
        opacity: 0.6;
    }
}

.readmore::after {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../img/svg/arrow-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    height: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .2s linear;
}

.hidden.show {
    height: auto;
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

@media (max-width: 640px) {

    .goal {
        flex-direction: column-reverse;
        padding: 2.5rem 0;
        gap: 2.9rem;
    }

    .goal__content {
        padding-top: 0;
    }

    .goal__text {
        font-size: 1.2rem;
    }

    .img {
        width: 100%;
    }

    .goal__text ul {
        font-size: 1.2rem;
    }

    .goal__text>*:not(:last-child) {
        margin-bottom: 2rem;
    }

    .commitment {
        padding: 3.2rem 3rem;
    }

    .text {
        font-size: 1.1rem;
    }

    .text>*:not(:last-child) {
        margin-bottom: 2rem;
    }

    .readmore {
        padding: 1.2rem 0;
        font-size: 1.2rem;
        min-width: 100%;
    }

    .readmore::after {
        width: 1.8rem;
        height: 1.8rem;
    }

}

.modal--success {
    background-color: #fff;
    box-shadow: 0px 52.16px 62.1px -24.84px #37373740;
    border: 0.62px solid #DDDDDD;
    background: #F1F7FC;
    color: #01315D;
    font-size: 2.1rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: center;
    padding: 5rem 4rem;
    border-radius: 1.8rem;
    position: fixed;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    inset: 0;
    margin: auto;
    width: 40.7rem;
    height: fit-content;
}

.modal--success.active {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}
@media (max-width: 640px) {
    .modal--success {
        font-size: 1.7rem;
        padding: 3rem 2.2rem;
        border-radius: 1.5rem;
        width: 24.1rem;
    }
    
}