@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --blue: #56A9BF;
    --black: #2B2B2B;
    --white: #FFFFFF;
}

@font-face {
    font-family: 'Actay Wide';
    src: url('../resources/fonts/actaywide-bold.woff2') format('woff2'),
        url('../resources/fonts/actaywide-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../resources/fonts/montserrat_light.woff2') format('woff2'),
        url('../resources/fonts/montserrat_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page {
    height: 100%;
    font-family: "Nunito Sans", Inter, sans-serif;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

@media (min-width:320px) {
    .page {
        font-size: calc(100vw / 360 * 10);
        overflow-x: hidden;
    }
}

@media (min-width:640px) {
    .page {
        overflow-x: visible;
        font-size: calc(100vw / 1440 * 10);
    }
}

.page__body {
    margin: 0;
    min-width: 32rem;
    min-height: 100%;
    font-size: 2.4rem;
    background-color: var(--black);
    color: var(--white);
    line-height: 1.6;
    font-weight: 400;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

@media (max-width: 640px) {
    .page__body {
        font-size: 1.2rem;
        overflow-x: hidden;
    }
}

main {
    position: relative;
    z-index: 2;
    width: 100%;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button {
    -webkit-transition: color .2s, background-color .2s, background .2s, opacity .2s, -webkit-transform .2s;
    transition: color .2s, background-color .2s, background .2s, opacity .2s, transform .2s, -webkit-transform .2s;
    -o-transition: color .2s, background-color .2s, background .2s, opacity .2s, transform .2s;
    cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

dl,
dt,
dd {
    margin: 0;
}

ul {
    padding-left: 1rem;
    margin: 0;
    list-style-type: none;
}

ul li {
    display: flex;
    align-items: start;
}

ul li::before {
    content: '';
    flex-shrink: 0;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    display: block;
    background-color: inherit;
    margin-right: .7rem;
    margin-top: 1rem;
}

li:not(:last-child) {
    margin-bottom: 1.5rem;
}

@media (max-width: 640px) {
    ul li::before {
        margin-right: .7rem;
        margin-top: .7rem;
    }

    li:not(:last-child) {
        margin-bottom: 1.1rem;
    }
}

.is-hidden {
    display: none !important
}

.btn-reset {
    border: none;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all .2s linear;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0
}

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
}

.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
    display: none
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0)
}

.container {
    width: 137rem;
    max-width: 100%;
    margin: 0 auto;
}


@media (max-width:640px) {
    .container {
        width: 30rem;
    }
}

.main-btn {
    font-family: "Nunito Sans";
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    background: #56A9BFCC;
    border: 1px solid #FFFFFF80;
    backdrop-filter: blur(12px);
    text-align: center;
    transition: all 0.2s;
    display: block;
    width: fit-content;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
    padding: 2rem 5rem;
}

.white-btn {
    color: #000;
    background: #FFFFFFCC;
}


@media (hover:hover) {
    .main-btn:hover {
        opacity: 0.7;
    }
}

@media (hover:none) {
    .main-btn:active {
        opacity: 0.7;
    }
}

@media (max-width: 640px) {
    .main-btn {
        font-size: 1.6rem;
        padding: 1.1rem 2.6rem;
        text-align: center;
    }
}

.title {
    font-family: 'Actay Wide';
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.3;
    color: var(--blue);
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
}

.title.main-title {
    font-size: 8.4rem;
    color: var(--white);
    text-align: left;
}

.subtitle {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    color:
        #969696;
    text-align: center;
    margin-bottom: 1rem;
}


.form__box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.form__input {
    font-family: "Nunito Sans";
    font-size: 1.6rem;
    line-height: 1.3;
    color: var(--white);
    background: transparent;
    font-weight: 300;
    padding: 1.6rem 2rem;
    border: 1px solid #FFFFFF80;
    width: 100%;
    outline: none;
    margin-bottom: 0;
    border-radius: .5rem;
    margin-top: 0;
}

.form__input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}


.animated {
    visibility: hidden;
    opacity: 0;

}

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #BDBDBD;
    margin-right: .6rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    transition: all .2s linear;
    margin-bottom: 0.2rem;
}


/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: var(--blue);
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
    border-color: var(--blue);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: var(--blue);
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6741 5.89355L8.01619 15.7883L4.30566 12.0778' stroke='rgb(255, 255, 255)' stroke-width='1.94595' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}

.form__btn {
    text-transform: uppercase;
    width: 100%;
    font-size: 1.8rem;
    border-radius: .5rem;
    padding: 1.8rem 5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.acceptance__text {
    font-size: 1.1rem;
    line-height: 1.1;
    font-weight: 200;
    letter-spacing: -0.02em;
    color: #fff;
    opacity: 0.5;
}

.modal {
    position: fixed;
    z-index: 999;
    inset: 0;
    bottom: initial;
    background: #00000080;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s, visibility .2s;
    transition: opacity .2s, visibility .2s;
    overflow-y: scroll
}

.modal--active {
    opacity: 1;
    visibility: visible
}

.modal__inner {
    position: relative;
    max-width: 78.5rem;
    width: fit-content
}

.modal__content {
    border-radius: 1rem;
    padding: 3.2rem 10rem 5rem 10rem;
    background-color: #2B2B2B;
    width: 100%;
}

.modal__content::-webkit-scrollbar {
    width: 0;
    height: 0
}

.modal__close {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 1rem;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    right: 1rem;
    color: #fff;
}

.modal__close svg {
    width: 1.2rem;
    height: 1.2rem
}

.modal__title {
    font-size: 4.8rem;
    line-height: 1.1;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 3.1rem;
}

.modal__form {
    max-width: 37.5rem;
    margin: 0 auto;
}

.modal__form .form__input {
    background: #FFFFFF33;

}

@media (max-width: 640px) {
    .modal__inner {
        max-width: 28.6rem;
    }

    .modal__content {
        padding: 3.9rem 2.5rem;
    }
}

/* Header  */
.header {
    padding: 1.7rem 0;
    background: linear-gradient(90.01deg, rgba(156, 156, 156, 0.025) 0.01%, rgba(11, 28, 36, 0.25) 50.22%, rgba(156, 156, 156, 0.025) 99.99%);
    border-bottom: 1px solid #fff;
    backdrop-filter: blur(35px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__btn {
    color: #fff;
    background-color: transparent;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px 0px #00000026 inset;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    border: 1px solid #fff;

}

.header__logo {
    display: block;
    width: 32.6rem;
    height: 4.7rem;
}

.header__nav {
    display: flex;
    gap: 4.3rem;
    align-items: center;
    padding-top: 1rem;
}

.header__link {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: .7rem;
    border-bottom: .2rem solid transparent;
}

.header__link.current {
    border-bottom: .2rem solid var(--blue);

    font-weight: 700;

}

@media (hover:hover) {
    .header__link:hover {
        color: var(--blue);
    }
}

@media (hover:none) {
    .header__link:active {
        color: var(--blue);
    }
}

/* Banner  */
.banner {
    background-image: url(../img/base/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10rem;
    margin-bottom: 7.5rem;
}

.banner__inner {
    padding: 14.3rem 0 18.5rem;

}

.banner__title {
    text-transform: uppercase;
    letter-spacing: -0.03em;
    margin-bottom: 1.1rem;
    text-align: left;
}

.banner__title span {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 600;
    padding: 1.8rem 4rem;
    color: #FFFEFE;
    letter-spacing: normal;
    background: #A1A1A133;
    border: 2px solid #ffffff80;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    font-family: "Nunito Sans";
    text-transform: none;
    transform: translateY(-2.5rem);
    position: relative;
    display: inline-block;
}

.banner__text {
    color: #eaeaea;
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 6rem;
    text-wrap: balance;

}

.banner__btns {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.banner__advantages {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    margin-bottom: 1.8rem;
}

.banner__item {
    background-color: #28282899;
    border: 2px solid #ffffff80;
    backdrop-filter: blur(10px);
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    width: 25.4rem;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 600;
}

.about-main .banner__text {
    max-width: 80rem;
    text-wrap: balance;
}

/* About  */
.about {
    padding: 7.5rem 0;
}

.about__description {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 300;
    text-wrap: balance;
    text-align: center;
    margin: 0 auto 4.6rem auto;
}

.about__grid {
    display: grid;
    grid-template-columns: 55.9rem auto 55.9rem;
    grid-template-rows: repeat(2, auto);
    gap: 3rem;
}

.about__item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
}

.about__item:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}

.about__item:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
}

.about__item:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
}

.about__item {
    border-radius: .5rem;
    border: 1px solid #ffffff80;
    position: relative;
}

.about__img {
    width: 100%;
    height: 100%;
}

.about__box {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.07%, rgba(0, 0, 0, 0.8) 84.27%);
    position: absolute;
    inset: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 2.5rem 2.2rem;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
}

.about__title {
    font-size: 2, 8rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: .5rem;
}

.about__text {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 300;
    color: #C9C9C9;
    text-wrap: balance;
}
@media (hover:hover) {
    .about__item:hover .about__box {
opacity: 1;
visibility: visible;
    }
}

/* Offer  */
.offer {
    padding: 7.5rem 0
}

.offer__inner .title {
    margin-bottom: 9rem;
}

.product__card {
    box-shadow: 0px -4.02px 20.09px 0px #FFFFFF08 inset;
    border: 1px solid #ffffff80;
    background: #0D141533;
    opacity: 0.5;
    pointer-events: none;
    border-radius: 1rem
}

.swiper-slide-active .product__card {
    transform: scale(1.1);
    transition: all .2s linear;
    pointer-events: all;
    opacity: 1;
}

.product__img {
    border-radius: 1rem;
    border: 1px solid #ffffff80;
    box-shadow: 0px 4.02px 10.05px 0px #00000026;
    margin-bottom: 2rem;
}

.product__box {
    padding: 0 3rem 3.6rem 3rem;
}

.product__title {
    font-size: 3.2rem;
    font-weight: 300;
    letter-spacing: -0.04em;
    color: #FFFEFE;
    text-transform: uppercase;
    padding-bottom: 2rem;
    border-bottom: 1px solid #FFFFFF40;
    margin-bottom: 2rem;
}

.product__excerpt {
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    font-weight: 200;
    margin-bottom: 4rem;
}

.product__btn {
    background-color: #fffefe;
    border-radius: 1rem;
    padding: 1.8rem 5rem;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.offer__btns {
    display: flex;
    align-items: center;
    gap: 5.7rem;
    margin-top: 9rem;
    justify-content: center;
}

.offer__btns .swiper-button-next,
.offer__btns .swiper-button-prev {
    position: static;
    width: 18.9rem;
    height: 6.1rem;
    border-radius: .5rem;
    background: #A1A1A11A;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff80;
}

.offer__btns .swiper-button-next:after,
.offer__btns .swiper-button-prev:after {
    content: '';
    background-image: url(../img/svg/arrow-right.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 5.5rem;
    height: 1rem;
}

.offer__btns .swiper-button-prev:after {
    transform: scaleX(-1)
}

@media (hover:hover) {
    .product__btn:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

/* Values  */
.values {
    margin: 6.5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5rem;
    padding: 4.5rem 0;
    border-top: 1px solid #ffffff80;
    border-bottom: 1px solid #ffffff80;
}

.values__subtitle {
    color: #777777;
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Actay Wide';
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.values__content {
    width: 90rem;
    flex-shrink: 0;
    font-size: 2.6rem;
    line-height: 1.25;
    font-weight: 200;
    text-align: right;
}

.values__content strong {
    font-weight: 600;
}

.values__content p:not(:last-child) {
    margin-bottom: 1.5rem;
}

/* Phylosophy  */
.phylo {
    padding: 7rem 0 15rem;
}

.phylosophy__box {
    margin-top: 4.7rem;
    display: grid;
    grid-template-columns: 34.4rem auto 38.6rem 31.6rem;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url(../img/base/phylo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 64.6rem;
}

.phylo__item:nth-child(1) {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #41606980;
}

.phylo__item:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #56A9BF80;
}

.phylo__item:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #92929280;
}

.phylo__item:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
    background-color: #074D6180;
}

.phylo__item {
    border: 1px solid #ffffff80;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    text-wrap: balance;
    color: #fff;
    backdrop-filter: blur(20px)
}

.phylo__name {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.phylo__text {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.04em;
}

/* Contacts  */
.contacts {
    padding: 4.4rem 0 20rem;
    border-top: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;

}

.contacts__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contacts__box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1;

}

.contacts__box:nth-child(3) {
    align-items: end;
}

.contacts__subtitle {
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 1;
    font-weight: 400;
}

.contacts__btn {
    background-color: #0D141533;
    color: #fffefe;
    border-radius: .5rem;
    border: 1px solid #ffffff80;
    backdrop-filter: blur(12px);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1;
    padding: 1.5rem 4rem;
    margin: 0 auto;
}

@media (hover:hover) {
    .contacts__btn:hover {
        opacity: 0.7;
    }
}

/* Footer  */
.footer {
    padding: 4.1rem 0 12.1rem;
    background: linear-gradient(90.01deg, rgba(156, 156, 156, 0.025) 0.01%, rgba(11, 35, 36, 0.1875) 50.22%, rgba(156, 156, 156, 0.025) 99.99%);
    border-top: 1px solid;
    border-image-source: linear-gradient(89.99deg, rgba(86, 169, 191, 0.025) 0%);
    border-image-slice: 0.5;
    backdrop-filter: blur(35px)
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 4rem;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 33%;
}

.footer__socials svg,
.footer__socials a {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
}

.footer__socials a:hover {
    opacity: 0.7;

}

.footer__logo {
    margin: 0 auto;
    width: 20.5rem;
    height: 10.5rem;
}

.footer__btn {
    margin-left: auto;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 4px 10px 0px #0000001A inset;
    border-radius: 1rem;
    padding: 2rem 4rem;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: -0.04em;
    color: #000;
    height: auto;
}

.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ccc;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 200;
    text-decoration: underline;
    letter-spacing: -0.02em;
}

@media (hover:hover) {

    .footer_bottom a:hover,
    .footer__btn:hover {
        opacity: .7;
    }
}

/* Projects  */
.projects {
    padding-bottom: 7rem;
}

.projects .subtitle,
.projects .title {
    text-align: left;
}

.projects .description {
    max-width: 500px;
    text-wrap: balance;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin-bottom: 4rem;
}

.projects__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.projects__item {
    backdrop-filter: blur(20px);
    background: #92929280;
    border: 1px solid;
    border-image-source: linear-gradient(318.7deg, rgba(255, 255, 255, 0.2) 76.56%, #FFFFFF 100%),
        linear-gradient(55.75deg, rgba(255, 255, 255, 0.2) 77%, #FFFFFF 100%);
    padding: 1rem 1.2rem;
    position: relative;
}

.projects__item__link {
    position: absolute;
    inset: 0;
    margin: 0;
}

.projects__item__img {
    width: 100%;
    max-height: 20rem;
    margin-bottom: 2rem;
    border: 1px solid;
    border-image-source: linear-gradient(93.73deg, rgba(255, 255, 255, 0.5) 8.9%, rgba(255, 255, 255, 0.2) 96.59%);
}

.projects__item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__item__name {
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-wrap: balance;
    margin-bottom: 1rem;
}

.projects__item__text {
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 2.3rem;
}

.projects__item__more {
    background-color: var(--blue);
    border: 1px solid;
    border-image-source: linear-gradient(93.73deg, rgba(255, 255, 255, 0.5) 8.9%, rgba(255, 255, 255, 0.2) 96.59%);
    backdrop-filter: blur(10px);
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.03em;
    padding: .9rem;
    width: 100%;
    display: block;
    text-align: center;
}

.projects__item__more:hover {
    background-color: transparent;
}

.projects__text {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 300;
    color: #EAEAEA;
}

.projects__slogan {
    font-size: 4.8rem;
    line-height: 1.4;
    font-weight: 600;
    color: #eaeaea;
    text-transform: uppercase;
    display: flex;
    align-items: end;
    text-align: right;
    justify-content: end;
}

.projects__slogan span {
    max-width: 19rem;

}

/* Clients  */
.clients {
    padding: 7rem 0;
}

.clients__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    border-top: 1px solid #FFFFFF80;
    border-bottom: 1px solid #FFFFFF80;

}

.clients__left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    border-right: 1px solid #FFFFFF80;

}

.clients__left .title {
    margin-bottom: 0;

}

.clients__left .decription {
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: 300;
}

.clients__right {
    width: 65.3rem;
    flex-grow: 1;
    counter-reset: clients;
}

.clients__item {
    display: flex;
    align-items: center;
    counter-increment: clients;
    transition: all .2s linear;
}

.clients__item:not(:last-child) {
    border-bottom: 1px solid #ffffff80;
}

.clients__before {
    width: 13rem;
    height: 13rem;
    border-right: 1px solid #ffffff80;
    flex-shrink: 0;
    position: relative;

}

.clients__before .clients__logo {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .2s linear;
}

.clients__before::before {
    content: '/' counter(clients, decimal-leading-zero);
    font-weight: 200;
    font-size: 3.2rem;
    line-height: 1.25;
    opacity: 0.25;
    position: absolute;
    inset: 0;
    margin: auto;
    display: block;
    width: fit-content;
    height: fit-content;
}

.clients__name {
    padding-left: 3.5rem;
    font-size: 3.2rem;
    line-height: 1.25;
    font-weight: 400;
    opacity: 0.5;
    transition: all .2s linear;
}

@media (hover:hover) {
    .clients__item:hover .clients__before::before {
        opacity: 0;
        visibility: hidden;
    }

    .clients__item:hover .clients__logo {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    .clients__item:hover .clients__name {
        opacity: 1;
    }
}

/* Feedback  */
.feedback {
    padding: 6rem 0 12rem;
}

.feedback__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding-top: 5rem;
    border-top: 1px solid;

    border-image-source: linear-gradient(318.7deg, rgba(255, 255, 255, 0.2) 76.56%, #FFFFFF 100%),
        linear-gradient(55.75deg, rgba(255, 255, 255, 0.2) 77%, #FFFFFF 100%);

    border-image-slice: 1;
}

.feedback__header h2 {
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: 400;

}

.feedback__btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 0;
    height: fit-content;
}

.feedback__card {
    background-color: #92929280;
    border: 1px solid;

    border-image-source: linear-gradient(318.7deg, rgba(255, 255, 255, 0.2) 76.56%, #FFFFFF 100%),
        linear-gradient(55.75deg, rgba(255, 255, 255, 0.2) 77%, #FFFFFF 100%);
    backdrop-filter: blur(20px);
    padding: 3rem 2.2rem;
    text-wrap: balance;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 5rem;
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: -0.04em;
    font-weight: 400;
}

.feedback__box {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.feedback__img {
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    overflow: hidden;
}

.feedback__name {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -0.04em;
    font-weight: 600;
}

.feedback__descr {
    opacity: 05;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.2;
    letter-spacing: -0.04em;
}

/* Contacts Us  */
.contact-us {
    margin-bottom: 12rem;
    background-image: url(../img/base/contact-us-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8.2rem 15rem;
}

.contact-us__inner {
    background-color: #92929280;
    border: 1px solid;
    border-image-source: linear-gradient(318.7deg, rgba(255, 255, 255, 0.2) 76.56%, #FFFFFF 100%),
        linear-gradient(55.75deg, rgba(255, 255, 255, 0.2) 77%, #FFFFFF 100%);
    border-image-slice: 1;
    backdrop-filter: blur(20px);
    padding: 2rem 4.3rem;
}

.contact-us__inner .title {
    text-transform: none;
    color: #7FC3D6;
    font-size: 9.4rem;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 2.1rem;
}

.contact-us__content {
    display: flex;
    align-items: end;
    gap: 7.5rem;
    position: relative;
}

.contact-us__content::before {
    content: '';
    display: block;
    width: 10.9rem;
    height: 3.4rem;
    background-image: url(../img/base/logo-short.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-us__text {
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
    max-width: 40.6rem;
    text-wrap: balance;
}

/* Objects  */

.objects {
    padding: 20rem 0;
}

.objects__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 3rem;
}

.objects__item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 4;
}

.objects__item:nth-child(2) {
    grid-area: 3 / 1 / 5 / 4;
}

.objects__item:nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
}

.objects__item:nth-child(4) {
    grid-area: 2 / 4 / 4 / 5;
}

.objects__item:nth-child(5) {
    grid-area: 4 / 4 / 5 / 5;
}

.objects__text {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 300;
    color: #eaeaea;
}

.objects__img {
    width: 100%;
    max-height: 40rem;
    border: 1px solid #ffffff80;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.objects__name {
    opacity: 0.25;
    font-size: 2.6rem;
    line-height: 1.25;
    font-weight: 600;
}

/* Offer grid  */

.offer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.9rem;
}

.offer__card {
    background-color: #0D141533;
    border: 1px solid #ffffff90;
    box-shadow: 0px -4.02px 20.09px 0px #FFFFFF08 inset;
    border-radius: 1rem;
    padding: 2rem 3.7rem;
}

.offer__card__image {
    width: 100%;
    height: 24.6rem;
    box-shadow: 0px 4.02px 10.05px 0px #00000026;
    border: 1px solid #ffffff90;
    margin-bottom: 3.3rem;
}

.offer__card__title {
    padding-bottom: 2rem;
    border-bottom: 1px solid #FFFFFF40;
    font-size: 3.2rem;
    line-height: 1.1;
    letter-spacing: -0.04em;
    color: #FFFEFE;
    font-weight: 300;
    margin-bottom: 2rem;
    font-family: 'Montserrat';
}

.offer__card__title span {
    font-size: 2rem;
    opacity: 0.5;
    margin-left: 2rem;
}

.offer__card__description {
    font-size: 2rem;
    line-height: 1;
    font-weight: 200;
    letter-spacing: -0.02em;
    margin-bottom: 3.6rem;
    color: #FFFEFE;
    opacity: 0.7;
}

.offer__card__btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    border-radius: 1rem;
}

.offer__card__btn.white-btn {
    background-color: #FFFEFE;
    color: #000;
    margin-bottom: 1rem;
}

.offer__card__btn.black-btn {
    background-color: transparent;
    color: #FFFFFF;

}

/* Product modal  */
.product-modal {
    padding: 3rem 3rem 4.7rem 3rem;
    border: 1px solid #ffffff80;
    box-shadow: 0px -4.02px 20.09px 0px #FFFFFF08 inset;
    border-radius: 1rem;
}

.product-modal .title {
    margin-bottom: 0;
    text-align: center;
}

.product-modal__span {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #969696;
}

.product-modal__description {
    padding: 2.5rem;
    color: #fff;
    background-color: #4A4A4A;
    box-shadow: 0px -4.02px 20.09px 0px #FFFFFF08 inset;
    border-radius: 1rem;
    border: 1px solid #ffffff80;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 300;
    text-wrap: balance;
    max-width: 66.1rem;
    margin-left: auto;
    margin-right: auto;
}

.product-modal__advantages__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    font-weight: 400;
    margin: 0 auto 2.1rem auto;
    text-align: center;
}

.product-modal__advantages {
    display: flex;
    align-items: start;
    gap: 4rem;
    justify-content: space-between;
}

.product-modal__advantages__item {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.product-modal__advantages__icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.5rem;
}

.product-modal__advantages__icon img {
    object-fit: contain;
}

.product-modal__advantages__text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 300;
    color: #fff;
}